{% extends 'base.html.twig' %}

{% block title %}Nouvelle sévérité | {% endblock %}

{% block body %}
    <h1>Ajout d'une nouvelle sévérité</h1>

    <a href="{{ path('app_severities_index') }}">Retour à la liste</a>

    {{ include('severities/_form.html.twig') }}
{% endblock %}
