{% extends 'base.html.twig' %}

{% block title %}Nouveau statut | {% endblock %}

{% block body %}
    <h1>Ajout d'un nouveau statut</h1>

    <a href="{{ path('app_status_index') }}">Retour à la liste</a>

    {{ include('status/_form.html.twig') }}
{% endblock %}
