{% extends 'base.html.twig' %}

{% block title %}Nouveau projet | {% endblock %}

{% block body %}
    <h1>Création d'un nouveau projet</h1>
    
    <a href="{{ path('app_projects_index') }}">Retour à la liste</a>

    {{ include('projects/_form.html.twig') }}
{% endblock %}
