{% extends 'base.html.twig' %}

{% block title %}Nouvelle équipe | {% endblock %}

{% block body %}
    <h1>Ajout d'une nouvelle équipe</h1>

    <a href="{{ path('app_teams_index') }}">Retour à la liste</a>

    {{ include('teams/_form.html.twig') }}
{% endblock %}
