{% extends 'base.html.twig' %}

{% block title %}New Highlights{% endblock %}

{% block body %}
    <h1>Create new Highlights</h1>

    {{ include('highlights/_form.html.twig') }}

    <a href="{{ path('app_highlights_index') }}">back to list</a>
{% endblock %}
