{% extends 'base.html.twig' %}

{% block title %}Nouveau fait marquant | {% endblock %}

{% block body %}
    <h1>Ajout d'un nouveau fait marquant</h1>

    <a href="{{ path('app_highlights_index') }}">Retour à la liste</a>

    {{ include('highlights/_form.html.twig') }}
{% endblock %}
