{% extends 'base.html.twig' %}

{% block title %}Nouveau jalon | {% endblock %}

{% block body %}
    <h1>Création d'un nouveau jalon</h1>

    <a href="{{ path('app_bearings_index') }}">Retour à la liste</a>

    {{ include('bearings/_form.html.twig') }}
{% endblock %}
