{% extends 'base.html.twig' %}

{% block title %}Nouevau portfolio | {% endblock %}

{% block body %}
    <h1>Ajout d'un nouveau portfolio</h1>

    <a href="{{ path('app_portfolios_index') }}">Retour à la liste</a>

    {{ include('portfolios/_form.html.twig') }}
{% endblock %}
