{% extends 'base.html.twig' %}

{% block title %}Nouveau risque | {% endblock %}

{% block body %}
    <h1>Ajout d'un nouveau risque</h1>

    <a href="{{ path('app_risks_index') }}">Retour à la liste</a>

    {{ include('risks/_form.html.twig') }}
{% endblock %}
