@import "_variables";
@import "~bootstrap/scss/bootstrap.scss";
@import "_navbar";
@import "_pagination";

body {
    font-family: 'Roboto', sans-serif;
    background-color: $gray-900;
}

* {
    margin: 0;
    padding: 0;
    color: $white;
}

main {
    padding: 1rem;
}

i {
    margin-right: 10px;
}

option {
    color: black !important;
}

.bloc, .bloc-table {
    background-color: $gray-800;
    box-shadow: inset 0 0 1rem $gray-900;
    border-radius: .2rem;
}

.bloc {
    margin-bottom: 1rem;
    padding: 0.8rem 1rem;
}

.bloc-table {
    padding: 1rem;
}

.rectangle {
    margin: auto;
    width: 4rem;
    height: 2rem;
}

.list-show {
    a {
        color: white;
    }
}