{% extends 'base.html.twig' %}

{% block title %}Edit Budgets{% endblock %}

{% block body %}
    <h1>Edit Budgets</h1>

    {{ include('budgets/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_budgets_index') }}">back to list</a>

    {{ include('budgets/_delete_form.html.twig') }}
{% endblock %}
